.sustainable__text {
  max-width: 650px;
  margin: 3em auto 4em;

  h2 {
    margin-bottom: 0.5em;
  }

  p {
    padding: 0 2em;
    margin-bottom: 2em;
  }

  .btn {
    width: 55%;
    margin: 0 auto;
  }

}